.app-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.control-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon-renderer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Color picker */

.color-button {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}

.color-button-inside {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.color-picker {
  position: absolute;
  z-index: 2;
}

.color-picker-close {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
